$timeline-color: #ff6c00;
$white-color: white;
$button-color: #00a3e2;
$bordor-color: #e3e3e3;
$horizontal-line: #ebebea;
$search-filter-background-color: #f6f7f6;
$search-filter-color: #888888;
$clear-filter-colors: #1699c1;
$search-bordor: #dedede;
$search-box-shadow: #dfdddf;
$dropdown-background: #726c6c;